<header class="header">
  <h1 class="logo"><img routerLink="['/students']" src="../../../assets/shared/logo.jpg" class="logo-img" matTooltip="Matrikel Nummer: 574035" /></h1>
    <ul class="main-nav">
        <li><a routerLink="['/students']">Home</a></li>
        <li><a (click)="openLink()">HTW Startseite</a></li>
        <li style="margin-right: 10px;">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Suche">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Suche</button>
          </form>
      
        </li>
    </ul>
</header> 
